section.titlepage h1 {
  font-size: 2em;
  text-align: center;
  padding-top: 4em;
}

section.titlepage h2 {
  font-size: 1.1rem;
  text-align: center;
}

/* section#section p, */
/* section#section-1 p { */
/*   text-align: center; */
/*   margin-top: 40pt; */
/* } */

section#serenity-is-the-final-word h3 {
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
}

h5 {
  font-size: 1em;
  font-weight: bold;
}

h5 {
  margin-bottom: 0;
}
h5 + p {
  margin-top: 0;
}

div.center {
  text-align: center;
}

div.space4 {
  height: 80pt;
}

blockquote {
  /* text-align: right; */
  font-size: 0.9em;
  font-style: italic;
  /* max-width: 65%; */
}

/* Titlepage */
section#dedication p,
section#prologue p {
  text-align: center;
  margin-top: 100pt;
}
section#dedication h1,
section#prologue h1 {
  display: none;
}

/* Poem */

section#mo-zhao-ming h1,
section#mo-zhao-ming h3,
section#mo-zhao-ming h4 {
  text-align: center;
  margin-bottom: 0;
}
section#mo-zhao-ming h3 {
  margin-top: 0.2em;
}
section#mo-zhao-ming h4 {
  margin-top: 0.3em;
}

section#mo-zhao-ming section p:first-of-type {
  text-align: center;
  margin-top: 0.2em;
}

/* Bio page */
section#biography > h1 {
  margin-bottom: 0;
}

section#biography > p:first-of-type {
  text-align: center;
}

section#biography section.level2 > h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
section#biography section.level4 > h4 {
  text-align: center;
  font-weight: normal;
}
section#biography section.level4:first-of-type > h4 {
  margin-bottom: 0;
}

section#biography section.level4:nth-of-type(2) > h4 {
  margin-top: 0.1em;
}
